* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  
  background-color: var(--el-bg-color-page); /* 浅色模式为浅灰，暗黑模式自动变极深 */
  color: var(--el-text-color-primary);       /* 文字颜色自适应 */
  
  transition: background-color 0.3s, color 0.3s; 
}

a {
  text-decoration: none;
}